---
author: matt
title: "TCR #4"
---
<!-- Text Block 1 -->
{% for text in site.texts %}
	{% if text.unique_name == "tcr_4_intro" %}
		{% include text_block.html text=text %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 1 -->
{% include section_header.html header_text="An Album" %}

{% include divider_line.html %}


<!-- Review Block 1 -->
{% for review in site.reviews %}
	{% if review.unique_name == "MK-I_Walked_With_You_A_Ways-Plains" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 2 -->
{% include section_header.html header_text="An Artist" %}

{% include divider_line.html %}

<!-- Review Block 2 -->
{% for review in site.reviews %}
	{% if review.unique_name == "MK-Mavi" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 3 -->
{% include section_header.html header_text="A Single" %}

{% include divider_line.html %}

<!-- Review Block 3 -->
{% for review in site.reviews %}
	{% if review.unique_name == "MK-Angel-SAULT" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 4 -->
{% include section_header.html header_text="A recommendation from Zack" %}

{% include divider_line.html %}

<!-- Review Block 4 -->
{% for review in site.reviews %}
	{% if review.unique_name == "ZM-When_Everything_is_Better-Pip_Millet" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}



