---
title: "TCR #5"
---

<!-- Text Block 1 -->
{% for text in site.texts %}
	{% if text.unique_name == "tcr_5_intro" %}
		{% include text_block.html text=text %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 1 -->
{% include section_header.html header_text="Pete talks Petey" %}

{% include divider_line.html %}


<!-- Review Block 1 -->
{% for review in site.reviews %}
	{% if review.unique_name == "PV-Lean_Into_Life-Petey" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 2 -->
{% assign header_2_text = "2 Albums that have been sticking with me" %}
{% include section_header.html header_text=header_2_text %}

{% include divider_line.html %}

<!-- Review Block 2 -->
{% for review in site.reviews %}
	{% if review.unique_name == "MK-Absolutely-Dijon" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Review Block 3 -->
{% for review in site.reviews %}
	{% if review.unique_name == "MK-5_to_the_eye_with_stars-RAP_Ferreira" %}
		{% include review_block.html review=review %}
	{% endif %}
{% endfor %}

{% include divider_line.html %}

<!-- Section Header 3 -->
{% assign header_3_text = "My 2022 Year End Playlists" %}
{% include section_header.html header_text=header_3_text %}

{% include divider_line.html %}

<!-- Text Block 2 -->

{% for text in site.texts %}
	{% if text.unique_name == "tcr_5_extra" %}
		{% include text_block.html text=text %}
	{% endif %}
{% endfor %} 
