---
layout: default
title: Home
---
<!-- <table style="table-layout: fixed;"> -->
    <!-- <td style="width: 50%;"> -->
        <p id="home_intro">
            We love discovering new music, and we especially love doing it with our friends. 
            The Collective Record is a music sharing newsletter and blog that hopes to put a little more of that in our lives. 
            We hope you find some music that moves you. 
            
        </p>
    <!-- </td>

    <td> -->
        {% include divider_line.html %}

        {% include section_header.html header_text="Add to the most recent TCR playlist:" %}

        <div id="home_playlist_div">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1femCj7Bz44HB8XBgcuGe2?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        {% include divider_line.html %}

        <div >
            <h2 class="null" style="text-align: center;display: block;margin-bottom: 0; margin-top: 6;padding: 0;color: #202020;font-family: Helvetica;font-size: 16px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;"><span style="font-size:18px">
                Subscribe to the email newsletter here:
            </span></h2>  
        </div>
        <form id="my-form" class="email_input" action="https://formspree.io/f/meqwgknr" method="POST">
            <div class="email_div">
                <input name="email_address" type="text" placeholder="Input your email here...">
            </div>
            <div class="email_div">
                <input type="submit" value="Subscribe">
            </div>
            <p id="my-form-status"></p>
                    
        </form>
        <script src="/assets/js/subscribe_button.js"></script>
    <!-- </td> -->
      
      
<!-- </table> -->

{% include divider_line.html %}

{% assign random = site.time | date: "%s%N" | modulo: site.reviews.size %}

<!-- Section Header 1 -->
{% include section_header.html header_text="A random recommendation from the archives:" %}

{% include divider_line.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
<script>

function randomReview() {
  var allReviews = [
      {% for review in site.reviews %}
          {% if prev_review != review.unique_name %}
              "/assets/html{{ review.url }}",
          {% endif %}
      {% endfor %}
  ];

  

  reviewIndex = parseInt(Math.random() * allReviews.length)

  // document.getElementById('random-review').innerHTML = 
  
  console.log('functioning')

  $(function(){
        $("#random-review").load(allReviews[reviewIndex]); 
        });

    return allReviews[ reviewIndex ]
    }

    var review = randomReview()
</script>

<div id="random-review">
  {% include review_block.html review=review %}
</div>
<center>
    <div id="random-review-button">
        <input type="submit" value="Randomize" onclick=randomReview("{{ curr_review }}");>
    </div>
</center>


{% include divider_line.html %}