#home_intro {
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
}

#home_playlist_div {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#my-form-status {
    font-size: small;
}

.email_input{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#email_form {
    display: flex;
    column-gap: 10;
    gap: 10;
    // align-items: center;
}

#random-review-button {
    width: 50%;
}

.email_div {
    padding: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

// .email_form {
//     align-items: center;
//     input {
//         width: 50%;
//     }
// }