#container {
    max-width: 850px;
    min-width: 350px;
    // margin: 25px auto 0px auto;
    margin: 25px auto;
    align-self: center;
    background-color: rgb(255, 227, 149);
    padding-left: 5px;
    padding-right:5px;
}

#border-container-2 {
    max-width: 850px;
    // min-width: 300px;
    align-self: center;
    background-color: rgb(230, 230, 230);
    margin: 0px auto;
    padding: 25px;
}

#border-container {
    margin: 0px auto;
    align-self: center;
    background-color: white;
    padding: 12px;
}

#content-container {
    // padding: 2rem 2rem 2rem 2rem;
    background-color: white;
    align-items: center;
}

#newsletter-content-div {
    max-width: 700;
}
