<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.stylesheet %}
    <link rel="stylesheet" href={{ page.stylesheet }}>
    {% endif %}

    <title>{{page.title}}</title>
    
  </head>

  <body id="container">
    <div id="container">
      <div id="border-container-2">
        <div id="border-container">
          {% include banner.html %}
          {% include navbar.html %}
        
          <div id="content-container">
              {{ content }}
          </div>
        </div>
      </div>  
    </div>
  </body>
  </html>